@charset "utf-8";


.list_ma .brand_logo {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}

.list_ma .brand_logo img {
    height: 37px;
    float: left;
}

.list_ma .brand_logo span {
    display: block;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    color: #FFF;
    border-radius: 7px;
    margin-top: 6px;
    float: right;
}

.brand_logo span.ba_account1 {
    background: #f34c4c;
}

.brand_logo span.ba_account2 {
    background: #009771;
}

.brand_logo span.ba_account3 {
    background: #368dff;
}

.item_view_wrap > div > div.pv_detail {
    width: 100%;
    text-align: center;
    min-height: 300px;
}